/target

todo-actix/.env
todo-actix/Cargo.lock
todo-actix/.vscode/
todo-actix/.idea/
todo-actix/**/*.rs.bk
todo-actix/**/*.log
todo-actix/**/*.tmp
todo-actix/**/*.swp
todo-actix/**/*.old
todo-actix/**/.DS_Store
todo-actix/**/Thumbs.db
todo-actix/**/desktop.ini
todo-actix/.cargo/
todo-actix/target

todo-actix-config/.env
todo-actix-config/Cargo.lock
todo-actix-config/.vscode/
todo-actix-config/.idea/
todo-actix-config/**/*.rs.bk
todo-actix-config/**/*.log
todo-actix-config/**/*.tmp
todo-actix-config/**/*.swp
todo-actix-config/**/*.old
todo-actix-config/**/.DS_Store
todo-actix-config/**/Thumbs.db
todo-actix-config/**/desktop.ini
todo-actix-config/.cargo/
todo-actix-config/target